.Home {

    /* border: solid 3px; */
    padding: 1em;

}

.Home img{
     height: 100px;
     width: auto;
     padding-bottom: 2%;

}

.search {
    padding-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;


}

.searchbar{
    background-color: darkgrey;
    border-radius: 100px;
    height: 90px;
    width : 25%;
    padding : 10px;
    flex: 1;
}

