.App{
  padding-top: 5%;
  align-items: center;
  justify-content:center ;
}

.App hr{

  width: 90%;
  height: 2px;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 10%;
}

body {
  background-image: url("/public/backfground.png");
  background-size: cover;
}

nav{
  margin-bottom: 20px;

}

ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;

}

li{
  margin: 0 10px;

}

input{
  padding: 5px;
  width: 200px;
  margin:5px
}

button{
  padding: 5px 10px;
  cursor: pointer;
}

form{
  display: flex;
 flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.pointer {
  cursor: pointer;
}
