.Card{
    margin-top: 1px;
    margin-left: 35%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
    outline: 0cap;
    border-radius: 5px;
    background-color: rgba(31, 40, 160, 0.123);
    backdrop-filter: blur(2px);
}


.Card input {
    background-color: transparent;
    border: none;
    outline: 0cap;
    flex-grow: 1; /* Allow the input to take up available space */
    padding-left: 15px; /* Add some padding for text inside the input */
    margin: 8px;
    height: 10%;
    width: 90%;
}

.Card button{
    height: 35px;
    width: 100px;
    margin-top: 1%;
    margin-left:41% ;
    border-radius: 10px;
    border: none;
    outline: 0cap;
    background-color: rgb(53, 162, 225);
}

