.pointer:hover {
    text-decoration: underline;
}

.Nav {
    background-color: rgba(14, 2, 88, 0.162);
    backdrop-filter: blur(30px);
    margin-top: 0px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Nav img {
    padding-top: 10px;
    height: 50px;
    width: auto;
}

.Nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    flex-grow: 1;
}

.Nav ul li {
    margin: 0 20px;
}
